
/* 02-html-css */
/* flowershop landing page */
* {
	box-sizing: border-box;
	font-family: arial, Helvetica;
}

body {
	margin: 0;
	padding: 0;
}

#homeButton {
	position: absolute;
	height: 70px;
	width: 300px;
	z-index: 5;

}

.header-logo {
	padding: 5px;
	height: 70px;
	width: 300px;
	background: url("./img/flowershop/logo.png") no-repeat;
}

.main {
	position: relative;
}

.main img {
	width: 100%;
	vertical-align: middle;
}

.main-text {
	position: absolute;
	color: #ffffff;
	top: 50%;
	left: 10%;
	right: 10%;
	text-align: center;
	line-height: 0.5;
}

.main .main-text h1{
	font-size: 34px;
}

.main .main-text h3{
	font-size: 20px;
}

.cta {
	position: absolute;
	background-color: #61C248;
	border-radius: 20px;
	top: 70%;
	left: 35%;
	right: 35%;
	text-align: center;
}

.cta a {
	text-decoration: none;
	color: #ffffff;
}

.footer-info {
	background: #C6F7C4;
}

.info-box {
	padding: 10px;
	width: 50%;
}

.info-box img {
	width: 50px;
}










