<h2>Pizza Menu</h2>
<br>
<div class="row">
    {{#each list}}
        <div class="col-sm-3">
            <h4>Pizza Name</h4>
            {{name}}
            <h4>Price</h4>
            {{price}}
            <h4>Pizza Size</h4>
            {{size}}
        </div>
    {{/each}}
</div>
